<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenue sur Lokisalle ## Réservation en ligne de salles de réunions</title>
  </head>
  <body>
    <h1>Bonjour {{ nom }} !</h1>
    <p>
      Le Hello World est un grand classique en programmation.
      Il signifie énormément, car cela veut dire que vous avez
      réussi à exécuter le programme pour accomplir une tâche simple :
      afficher ce hello world !
    </p>
    <a href="{{ path('sdzblog_voir', { 'id': article_id }) }}">Lien vers l'avis d'id {{ article_id }}</a>
  </body>
</html>